# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock
.tmp
.cache
.next
out/
dist/
build/
.DS_Store
